/* Estilos para el título */
h1 {
    color: #333;
}

/* Estilos para los botones */
button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px;
}

/* Estilos para las listas */
ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

/* Estilos para el contenedor principal */
div {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para los inputs */
input[type="text"] {
    padding: 5px;
}
.titulo{
    text-align: center;
}